/.idea/jarRepositories.xml
/.idea/encodings.xml
/consumer/.mvn/wrapper/maven-wrapper.jar
/gateway/.mvn/wrapper/maven-wrapper.jar
/provider/.mvn/wrapper/maven-wrapper.jar
/gateway/mvnw
/provider/mvnw
/consumer/mvnw.cmd
/gateway/mvnw.cmd
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/misc.xml
/gateway/.mvn/wrapper/maven-wrapper.properties
/provider/.mvn/wrapper/maven-wrapper.properties
/consumer/.mvn/wrapper/MavenWrapperDownloader.java
/gateway/.mvn/wrapper/MavenWrapperDownloader.java
/consumer/mvnw
/provider/mvnw.cmd
/consumer/.mvn/wrapper/maven-wrapper.properties
/provider/.mvn/wrapper/MavenWrapperDownloader.java
