/.idea/*
/gateway/.mvn/*
/provider/.mvn/*
/consumer/.mvn/*
/consumer/target/*
/gateway/target/*
/provider/target/*
/gateway/mvnw
/provider/mvnw
/consumer/mvnw
/provider/mvnw.cmd
/consumer/mvnw.cmd
/gateway/mvnw.cmd
/2020.iml
/gateway/gateway.iml
/provider/provider.iml
